#casino {
    max-width: 1001px;
    margin: auto;
}

#chatten {
    width: 350px;
    height: 275px;
    /*margin: auto;*/
    /*display: inline-block;*/
    border: 2px solid black;
    float: left;
    margin: 5px;
    padding: 5px;
}

.floatleft {
    float: left;
}

#gameplan {
    /*display: inline-block;*/
    width: 350px;
    height: 275px;
    border: 2px solid black;
    float: left;
    margin: 5px;
    padding: 5px;
}

.marginleft {
    margin-left: 30px;
}

.match {
    width: 5px;
    height: 30px;
    background-color: black;
    margin-left: 10px;
    margin-top: 10px;
    float: left;
}

.pile {
    float: left;
    width: 350px;
}

#statistics {
    /*display: inline-block;*/
    width: 350px;
    height: 275px;
    border: 2px solid black;
    float: left;
    margin: 5px;
    padding: 5px;
}

.stats {
    text-align: center;
}

.takeform {
    float: right;
    margin-top: 10px;
}

td.toplist {
    padding-left: 5px;
    padding-right: 5px;
}

th.toplist {
    padding-left: 5px;
    padding-right: 5px;
}
